# Python virtual environment
.venv/

# VS Code config
.vscode/

# Arquivos temporários Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos temporários Julia
.julia/
*.jl.cov
*.jl.*.cov

# Checkpoints e backups
*.ipynb_checkpoints
*~

# Dados temporários
.DS_Store

